* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header {
    background-color: aquamarine;
    grid-column: 2;
}

.sidebar {
    background-color: aqua;
    grid-row: 1 / 3;
}

.main {
    background-color: bisque;
    grid-column: 2;
}