* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 4fr;
    font-family: "Roboto", sans-serif;
}

.header {
    grid-column: 2;
    display: grid;
}

.first-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    column-gap: 10px;
    padding-top: 1em;
    padding-left: 2em;
}

input {
    width: 500px;
    height: 30px;
    background-color: #D3D3D3;
    border-radius: 20px;
    border: none;
    padding-left: 7px;
}

.search .icon,
.profile .icon {
    justify-self: end;
    fill: black;
}

.profile-small {
    width: 2.5rem;
    height: 2.5rem;
}

.profile-large {
    width: 4.5rem;
    size: 4.5rem;
}

.user-greeting {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    padding-left: 2em;
    padding-top: 2em;
    align-items: center;
    gap: 20px;
}

.user-name {
    font-weight: 600;
    font-size: 1.2rem;
}

.profile {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    padding-top: 1em;
    padding-left: 2em;
}

.second-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.greeting {
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.social-address {
    font-size: 1.75rem;
}

.sidebar {
    font-size: 1.25rem;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 3fr 50px 3fr ;
    background-color: #073b27;
    color: white;
}

.group-one, .group-two {
    display: grid;
    justify-content: start;
    padding-left: 2rem;
    align-items: center;
}

.group-two {
    align-items: start;
}

.group {
    display: grid;
    row-gap: 20px;
}

.group-two {
    grid-row: 3 / 4;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: white;
}

.home, .profile-side, .messages, .history, .tasks, .communities,
.settings, .support, .privacy, .dashboard {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.dashboard, .dashboard .icon {
    font-size: 1.75rem;
    width: 2.5rem;
    height: 2.5rem;
}

.main {
    background-color: bisque;
    grid-column: 2;
}