* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 30ch 1fr;
    font-family: "Roboto", sans-serif;

    --bg-color: #073b27;
    --search-bar-color: #eeecec;
    --medium-text-size: 1.25rem;
}

.sidebar {
    display: grid;
    grid-row: 1 / 3;
    background-color: var(--bg-color);
    grid-template-rows: repeat(3, max-content);
    padding: 20px;
    gap: 55px;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: white;
}

.dashboard .icon {
    width: 2.5rem;
    height: 2.5rem;
}

.dashboard {
    font-size: 1.75rem;
    color: white;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.nav-link {
    display: grid;
    grid-auto-flow: column;
    color: white;
    justify-content: start;
    align-content: center;
    gap: 20px;
    font-size: var(--medium-text-size);
}

.group-one,
.group-two {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
}

.sidebar-contents {
    justify-self: center;
}

.header {
    display: grid;
    grid-column: 2;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(450px, 1fr));
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.first-row,
.second-row {
    display: grid;
    grid-column: 1 / 3;
    padding-left: 40px;
    padding-right: 40px;
}

.first-row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.second-row {
    padding-bottom: 20px;
}

.header .icon {
    fill: black;
}

img {
    width: 2rem;
    height: 2rem;
}

.search {
    grid-column: 1;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    justify-self: start;
    align-items: center;
    gap: 20px;
}

input {
    width: 47vw;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: var(--search-bar-color);
    padding: 8px;
}

.profile {
    grid-column: 2;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    justify-self: end;
    align-items: center;
    gap: 30px;
}

.profile-small {
    width: 2.5rem;
    height: 2.5rem;
}

.user-greeting {
    grid-column: 1;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.greeting-text {
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
}

.greeting {
    font-size: 0.8rem;
    font-weight: 600;
}

.social-address {
    font-weight: 600;
    font-size: var(--medium-text-size);
}

.profile-large {
    width: 3.5rem;
    height: 3.5rem;
}

.buttons {
    grid-column: 2;
}

button {
    width: 95px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: var(--bg-color);
    color: white;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    justify-self: end;
    align-items: center;
    gap: 30px;
}


.main {
    display: grid;
    grid-row: 2;
    grid-column: 2;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, max-content);
    background-color: var(--search-bar-color);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.info-panels {
    display: grid;
    grid-row: 1 / 3;
    grid-column: 2;
    grid-template-rows: repeat(2, max-content);
    gap: 35px;
}

.announcements,
.trending {
    width: 80%;
    justify-self: center;
}

.announcements > p,
.trending > p,
.projects > p {
    font-size: 1.3rem;
    padding-bottom: 15px;
    font-weight: 600;
}

.announcements-box {
    background-color: white;
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.heading {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 0.25em;
}

.announcements-info {
    padding-bottom: 20px;
    padding-top: 20px;
}

.trending-box {
    background-color: white;
    font-size: 0.8rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: grid;
    padding: 20px 30px;
    row-gap: 25px;
}

.trending-info {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 15px;
    align-items: center;
}

.name {
    font-weight: 500;
}

.address {
    display: grid;
    grid-auto-flow: row;
    row-gap: 2px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    background-color: white;
    border-left: 0.4rem solid goldenrod;
    border-radius: 10px;
    padding: 30px 20px;
    display: grid;
    grid-auto-flow: row;
    row-gap: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.options {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: end;
    column-gap: 30px;
}

.options > .icon {
    fill: black;
}

.info > p:first-child {
    font-size: 1.3rem;
    font-weight: 450;
}

.info > p ~ p {
    font-size: 0.85rem;
}

.info {
    display: grid;
    grid-auto-flow: row;
    row-gap: 5px;
}