* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 20ch 1fr 1fr;
    grid-template-columns: 30ch 2fr 40ch;
    font-family: "Roboto", sans-serif;
}

.sidebar {
    display: grid;
    grid-row: 1 / 4;
    background-color: #073b27;
    grid-template-rows: repeat(3, max-content);
    padding: 20px;
    gap: 55px;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: white;
}

.dashboard .icon {
    width: 2.5rem;
    height: 2.5rem;
}

.dashboard {
    font-size: 1.75rem;
    color: white;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.nav-link {
    display: grid;
    grid-auto-flow: column;
    color: white;
    justify-content: start;
    align-content: center;
    gap: 20px;
    font-size: 1.25rem;
}

.group-one,
.group-two {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
}

.sidebar-contents {
    justify-self: center;
}