* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 20ch 1fr 1fr;
    grid-template-columns: 30ch 2fr 40ch;
    font-family: "Roboto", sans-serif;

    --bg-color: #073b27;
    --medium-text-size: 1.25rem;
}

.sidebar {
    display: grid;
    grid-row: 1 / 4;
    background-color: var(--bg-color);
    grid-template-rows: repeat(3, max-content);
    padding: 20px;
    gap: 55px;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: white;
}

.dashboard .icon {
    width: 2.5rem;
    height: 2.5rem;
}

.dashboard {
    font-size: 1.75rem;
    color: white;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.nav-link {
    display: grid;
    grid-auto-flow: column;
    color: white;
    justify-content: start;
    align-content: center;
    gap: 20px;
    font-size: var(--medium-text-size);
}

.group-one,
.group-two {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
}

.sidebar-contents {
    justify-self: center;
}

.header {
    display: grid;
    grid-column: 2 / 4;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(500px, 1fr));
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.first-row,
.second-row {
    display: grid;
    grid-column: 1 / 3;
    padding-left: 40px;
    padding-right: 40px;
}

.first-row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.second-row {
    padding-bottom: 20px;
}

.header .icon {
    fill: black;
}

img {
    width: 2rem;
    height: 2rem;
}

.search {
    grid-column: 1;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    justify-self: start;
    align-items: center;
    gap: 20px;
}

input {
    width: 600px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #D3D3D3;
    padding: 8px;
}

.profile {
    grid-column: 2;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    justify-self: end;
    align-items: center;
    gap: 30px;
}

.profile-small {
    width: 2.5rem;
    height: 2.5rem;
}

.user-greeting {
    grid-column: 1;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.greeting-text {
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
}

.greeting {
    font-size: 0.8rem;
    font-weight: 600;
}

.social-address {
    font-weight: 600;
    font-size: var(--medium-text-size);
}

.profile-large {
    width: 3.5rem;
    height: 3.5rem;
}

.buttons {
    grid-column: 2;
}

button {
    width: 95px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: var(--bg-color);
    color: white;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    justify-self: end;
    align-items: center;
    gap: 30px;
}


.main {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}